.login-container__inner {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    font-size: 1.25em;
    padding: 1em;
    border-radius: 0.2em;
    border: 2px solid #eee;
    margin-top: 2em;
}

.login-container__title {
    border-bottom: 2px solid #eee;
    margin-bottom: 1em;
}

.login-container__username,
.login-container__password {
    display: flex;
    flex-direction: column;
}
.login-container__form label {
    margin-bottom: 0.5em;
}

.login-container__form input {
    font-size: 100%;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

.login-container__submit-button {
    width: 100%;
    text-align: center;
    font-size: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
    background-color: aliceblue;
    border: 1px solid #aaa;
    border-radius: 0.2em;
}

.login-container__link-to-register-wrapper {
    text-align: center;
    padding-top: 1em;
}

.login-container__link-to-register {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 0.5em;
    user-select: none;
}

@media only screen and (max-width: 480px) {
    .login-container__inner {
        max-width: none;
        width: auto;
        padding-top: 2em;
        border-radius: none;
        border: none;
        margin-top: 1em;
    }
}
