.mobile-control {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    border-top: 1px solid #ddd;
    height: 44px;
    display: flex;
}

.mobile-control__left,
.mobile-control__right {
    width: 50%;
    height: 44px;
}

.mobile-control__user {
    max-width: 100%;
    display: flex;
}

.mobile-control__username {
    line-height: 44px;
    overflow-x: hidden;
    flex: 1;
    text-overflow: ellipsis;
}

.mobile-control__register,
.mobile-control__login,
.mobile-control__user-icon,
.mobile-control__menu-button {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
}

.mobile-control__user-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.mobile-control__user-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 0 2000px rgba(0,0,0,0.3);
}

.mobile-control__menu-button {
    float: right;
}

.mobile-control__user-menu-item {
    padding: 1em;
    user-select: none;
    border-bottom: 1px solid #ddd;
}
