@import 'common/styles/common';

.stock-page {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.stock-page__loader {
    @include loader();
}

.stock-page__no-data {
    text-align: center;
    padding: 1em;
}

.stock-page__table-stock-container {
    padding-top: 1em;
}

.stock-page__table-stock-container table, th, td {
    border: 1px solid $color-light-black;
    margin: 0 auto;
    border-collapse: collapse;
}

.stock-page__table-stock th {
    background-color: $color-light-grey;
    padding: 0.3em;
}

.stock-page__table-stock td {
    text-align: center;
    padding: 0.3em;
    white-space: nowrap;
    overflow: hidden;
    background-color: $color-white;
}

.stock-page__table-stock .change-up-font {
    color: $color-font-up;
}
.stock-page__table-stock .change-down-font {
    color: $color-font-down;
}

@media only screen and (max-width: 480px) {
    .stock-page__table-stock-container-wrapper {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        overflow-x: scroll;
        overflow-y: visible;
    }
    .stock-page__col_fixed {
        position: sticky;
        left: 0;
        box-shadow: 1px 0 $color-light-black;
    }
}
