@import 'common/styles/common';

.stock-page {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.stock-page__loader {
    @include loader();
}

.stock-page__no-data {
    text-align: center;
    padding: 1em;
}

.stock-page__table-stock-container {
    padding-top: 1em;
}
