.header {
    width: 100%;
    background-color: aliceblue;
}

.header__inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    text-align: center;
    padding: 1em;
}
