$color-font: #333;
$color-white: #fff;
$color-light-black: #777;
$color-light-grey: #eee;
$color-grey: #ddd;
$color-main: aliceblue;
$color-link: dodgerblue;
$color-error: red;
$color-font-up: limegreen;
$color-font-down: indianred;
$color-background-up: palegreen;
$color-background-down: lightpink;
