@import 'common/styles/common';

.chart-container {
    text-align: center;
}

.chart-container__loader {
    @include loader();
}

.chart-container__no-data {
    text-align: center;
    padding: 1em;
}

.chart-container__stock-info {
    display: flex;
    justify-content: center;
}

.chart-container__stock-title,
.chart-container__stock-last-price {
    display: inline-block;
    padding: 1em;
}
