@import 'common/styles/common';

.full-table_header-wrapper {
    width: 100%;
    background-color: $color-main;
    margin-bottom: 1em;
}

.all-stocks__filters-button-container {
    text-align: center;
    padding-top: 1em;
}

.all-stocks__loader {
    @include loader();
}

/*filters*/
.all-stocks__filters-form input[type="number"] {
    width: 70px;
    box-shadow: none;
    outline: none;
}

.all-stocks__filters-container table {
    border: none;
    border-collapse: collapse;
}

.all-stocks__filters {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.all-stocks__filters-form {
    padding-top: 1em;
}

.all-stocks__filters-table {
    margin-left: auto;
    margin-right: auto;
}

.all-stocks__filters-table td {
    border: none;
}

.all-stocks__filters-table tr:first-child {
    text-align: right;
}

.all-stocks__filters-table-td-label {
    padding-right: .5em;
}

.all-stocks__centered-content {
    text-align: center;
}

.all-stocks__filters-buttons {
    display: flex;
    justify-content: center;
}

.all-stocks__button-apply-filters {
    order: 1;
}

.all-stocks__button-apply-filters {
    order: 2;
}

.all-stocks__button-apply-filters,
.all-stocks__button-reset-filters {
    border: none;
    outline: none;
    color: $color-link;
    font-size: 1em;
    margin-top: 1em;
    cursor: pointer;
    background-color: transparent;
}

.all-stocks__filters-button {
    border: none;
    outline: none;
    color: $color-link;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
}

/*filters end*/

.all-stocks__table-controls {
    display: flex;
    justify-content: space-evenly;
}

.all-stocks__table-controls-button {
    @include icon-button();
}

.all-stocks__no-data {
    text-align: center;
    padding: 1em;
}

@media only screen and (max-width: 480px) {
    .all-stocks__filters-form,
    .all-stocks__filters-button {
        font-size: 1.2em;
    }
}
