@import 'common/styles/common';

.all-stocks__inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.full-table_header-wrapper {
    width: 100%;
    background-color: $color-main;
    margin-bottom: 1em;
}

.all-stocks__filters-button-container {
    text-align: center;
    padding-top: 1em;
}

.all-stocks__table-stocks-container table, th, td {
    border: 1px solid $color-light-black;
    margin: 0 auto;
    border-collapse: collapse;
}

.all-stocks__table-stocks th {
    background-color: $color-light-grey;
    padding: 0.3em;
    cursor: pointer;
}

.all-stocks__table-stocks .all-stocks__table-stocks-head_active {
    background-color: $color-grey;
}

.all-stocks__table-stocks td {
    text-align: center;
    padding: 0.2em;
    white-space: nowrap;
    overflow: hidden;
}

.all-stocks__table-stocks-row {
    cursor: pointer;
}

h3 {
    text-align: center;
}

.all-stocks__table-stocks tr:nth-child(odd) td {
    background-color: $color-main;
}
.all-stocks__table-stocks tr:nth-child(even) td {
    background-color: $color-white;
}
.all-stocks__table-stocks tr:hover {
    background-color: $color-grey;
}

/*
/////////////////////
    loader
/////////////////////
*/
.all-stocks__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid $color-main;
    border-radius: 50%;
    border-top: 8px solid $color-link;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
/////////////////////
    loader end
/////////////////////
*/

/*color price cell*/
.price-upper {
    background-color: $color-background-up;
    transition: all ease-out 1s;
}
.price-lower {
    background-color: $color-background-down;
    transition: all ease-out 1s;
}
/*color price cell end*/

/*color change font*/
.all-stocks__table-stocks .change-up-font {
    color: $color-font-up;
}
.all-stocks__table-stocks .change-down-font {
    color: $color-font-down;
}
/*color change font end*/

/*filters*/
.all-stocks__filters-form input[type="number"] {
    width: 70px;
    box-shadow: none;
    outline: none;
}

.all-stocks__filters-container table {
    border: none;
    border-collapse: collapse;
}

.all-stocks__filters {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
    margin-bottom: 1em;
}

.all-stocks__filters-form {
    padding-top: 1em;
}

.all-stocks__filters-table {
    margin-left: auto;
    margin-right: auto;
}

.all-stocks__filters-table td {
    border: none;
}

.all-stocks__filters-table tr:first-child {
    text-align: right;
}

.all-stocks__filters-table-td-label {
    padding-right: .5em;
}

.all-stocks__centered-content {
    text-align: center;
}

.all-stocks__button-apply-filters,
.all-stocks__button-reset-filters {
    border: none;
    outline: none;
    color: $color-link;
    font-size: 16px;
    margin-top: 1em;
    cursor: pointer;
    background-color: transparent;
}

.all-stocks__filters-button {
    border: none;
    outline: none;
    color: $color-link;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

/*filters end*/

.all-stocks__table-controls {
    display: flex;
    justify-content: space-evenly;
}

.all-stocks__table-controls-button {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .all-stocks__filters-form {
        font-size: 1.2em;
    }
    .all-stocks__inner {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        overflow-x: scroll;
        overflow-y: visible;
    }
    .all-stocks__col_fixed {
        position: sticky;
        left: 0;
        box-shadow: 1px 0 $color-light-black;
    }
}
