@import 'common/styles/common';

.header-mobile,
.header {
    width: 100%;
    background-color: $color-main;
}

.header-mobile__inner,
.header__inner {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em;
}

.header__user {
    position: absolute;
    right: 1em;
    top: 1em;
}

.header__link-container {
    position: absolute;
    right: 1em;
    top: 1em;
}
.header__logout-link,
.header__link-to-register,
.header__link-to-login {
    color: $color-link;
    cursor: pointer;
    text-decoration: underline;
    padding-left: 0.5em;
    user-select: none;
}
