@import 'common/styles/common';

.header-mobile,
.header {
    width: 100%;
    background-color: $color-main;
}

.header-mobile__inner,
.header__inner {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1em;
}

.header__left {
    position: absolute;
    left: 1em;
    top: 1em;
}

.header__right {
    position: absolute;
    right: 1em;
    top: 1em;
}

.header__link-to-home,
.header__link-to-allstocks,
.header__link-to-watch-list,
.header__logout-link,
.header__link-to-register,
.header__link-to-login, {
    @include link-main();
}

.header__logout-link,
.header__link-to-login,
.header__link-to-home,
.header__link-to-allstocks,
.header__link-to-watch-list {
    padding-left: 0.5em;
}

.header__user,
.header__link-container {
    margin-left: 1em;
}
