table, th, td {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

th {
    background-color: #eee;
    padding: 0.3em;
}

.head-active {
    background-color: #ddd;
}

td {
    text-align: center;
    padding: 0.2em;
    white-space: nowrap;
    overflow:hidden;
    color: #333;
}

h3 {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: aliceblue;
}
/*
/////////////////////
    loader
/////////////////////
*/
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #eee;
    border-radius: 50%;
    border-top: 8px solid #000;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
/////////////////////
    loader end
/////////////////////
*/

/*color price cell*/
.price-upper {
    background-color: limegreen;
    transition: all ease-out 1s;
}
.price-lower {
    background-color: indianred;
    transition: all ease-out 1s;
}
/*color price cell end*/

/*color change font*/
.change-up-font {
    color: limegreen;
}
.change-down-font {
    color: indianred;
}
/*color change font end*/
