.table-stocks-container table, th, td {
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-stocks th {
    background-color: #eee;
    padding: 0.3em;
    cursor: pointer;
}

.table-stocks .head-active {
    background-color: #ddd;
}

.table-stocks td {
    text-align: center;
    padding: 0.2em;
    white-space: nowrap;
    overflow:hidden;
    color: #333;
}

h3 {
    text-align: center;
}

.table-stocks tr:nth-child(odd) {
    background-color: aliceblue;
}
.table-stocks tr:nth-child(even) {
    background-color: #fff;
}
/*
/////////////////////
    loader
/////////////////////
*/
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 8px solid #eee;
    border-radius: 50%;
    border-top: 8px solid #000;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*
/////////////////////
    loader end
/////////////////////
*/

/*color price cell*/
.price-upper {
    background-color: limegreen;
    transition: all ease-out 1s;
}
.price-lower {
    background-color: indianred;
    transition: all ease-out 1s;
}
/*color price cell end*/

/*color change font*/
.table-stocks .change-up-font {
    color: limegreen;
}
.table-stocks .change-down-font {
    color: indianred;
}
/*color change font end*/

/*filters*/
.hidden {
    display: none;
}

.filters {
    padding-bottom: 1em;
}

input[type="number"] {
    width: 100px;
}
.filters-container table {
    border: none;
    border-collapse: collapse;
}
.filters-table td {
    border: none;
}
.filters-table tr:first-child {
    text-align: right;
}
.filters-table {
    margin-left: auto;
    margin-right: auto;
}
.centered-content {
    text-align: center;
}
.button-apply-filters {
    border: none;
    outline: none;
    color: dodgerblue;
    font-size: 16px;
    margin-top: 1em;
    cursor: pointer;
}
.button-show-hide-filters {
    border: none;
    outline: none;
    color: dodgerblue;
    font-size: 16px;
    margin-bottom: 1em;
    cursor: pointer;
}

/*filters end*/
