@import 'common/styles/common';

.common-table {
    border-collapse: collapse;
    border: none;
}

.common-table tbody,
.common-table tr,
.common-table th,
.common-table td {
    border: none;
}

.common-table td {
    text-align: center;
}

.common-table th,
.common-table td {
    padding: 0.3em;
}

.common-table tr:nth-child(odd) {
    background-color: $color-main;
}

.common-table tr:nth-child(even) {
    background-color: $color-white;
}

.common-table-wrapper__table-title {
    text-align: center;
    padding: 1em;
}

/*space between tables*/
.common-table-wrapper_position_right th:first-child,
.common-table-wrapper_position_right td:first-child {
    padding-left: 2em;
}

/*color change font*/
.common-table-wrapper .change-up-font {
    color: $color-font-up;
}
.common-table-wrapper .change-down-font {
    color: $color-font-down;
}
/*color change font end*/

@media only screen and (max-width: 480px) {
    .common-table {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    /*no space between tables*/
    .common-table-wrapper_position_right th:first-child,
    .common-table-wrapper_position_right td:first-child {
        padding-left: 0;
    }
}
