@import 'common/styles/common';

.not-found-container__title {
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

.not-found-container__link-to-home-wrapper,
.not-found-container__link-to-home-wrapper {
    text-align: center;
    padding-top: 1em;
}

.not-found-container__link-to-home,
.not-found-container__link-to-home {
    @include link-main();
    padding-left: 0.5em;
}
